<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hana.onemoim.account.mapper.AccountMapper">

    <!-- 계좌개설  -->
    <insert id="insertAccount" parameterType="com.hana.onemoim.account.dto.AccountDto">
        INSERT INTO member_account_info
        (account_number, member_id, bank_code, account_status_code, account_type_code,
         account_password,account_nickname)
        values (#{accountNumber}, #{memberId}, #{bankCode}, #{accountStatusCode},
                #{accountTypeCode}, #{accountPassword},#{accountNickname})
    </insert>
</mapper>