<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hana.onemoim.community.mapper.CalendarMapper">

    <!-- 캘린더 일정 삽입  -->
    <insert id="insertCalendarEvent" parameterType="com.hana.onemoim.community.dto.CalendarEventDto">
        INSERT INTO calendar_event
            (gathering_id, event_title, event_start_date, event_end_date, allday_yn, event_description)
        values (#{gatheringId}, #{eventTitle}, TO_DATE(#{eventStartDate}, 'yyyy-MM-dd HH24:MI'), TO_DATE(#{eventEndDate}, 'yyyy-MM-dd HH24:MI'), #{alldayYn}, #{eventDescription})
    </insert>

</mapper>