<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hana.onemoim.community.mapper.GatheringTransactionMapper">

    <resultMap id="gatheringTransactionDto" type="com.hana.onemoim.community.dto.GatheringTransactionDto">
        <result column="transaction_identification_number" property="id"/>
        <result column="account_number" property="accountNumber"/>
        <result column="other_accountNumber" property="otherAccountNumber"/>
        <result column="transaction_type_code" property="transactionTypeCode"/>
        <result column="transaction_category_code" property="transactionCategoryCode"/>
        <result column="transaction_amount" property="transactionAmount"/>
        <result column="balance_after_transaction" property="balanceAfterTransaction"/>
        <result column="transaction_time" property="transactionTime"/>
        <result column="memo" property="memo"/>
    </resultMap>

    <!-- 거레내역생성  -->
    <insert id="insertGatheringTransaction" parameterType="com.hana.onemoim.account.dto.MemberTransactionDto">
        INSERT INTO gathering_transaction
        (account_number, other_account_number, transaction_type_code, transaction_amount, balance_after_transaction,
         memo)
        values (#{accountNumber}, #{otherAccountNumber}, #{transactionTypeCode}, #{transactionAmount},
                #{balanceAfterTransaction}, #{memo})
    </insert>

    <!-- 모임거래내역 조회 -->
    <select id="selectTransactionByAccountNumber" parameterType="String"
            resultMap="gatheringTransactionDto">
        SELECT TO_CHAR(transaction_time, 'YY-MM-DD HH24:MI:SS') as transaction_time, transaction_type_code, transaction_category_code, memo, transaction_amount, balance_after_transaction
        FROM gathering_transaction
        WHERE account_number = #{accountNumber}
        ORDER BY transaction_time desc
    </select>

</mapper>