<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hana.onemoim.transaction.mapper.TransactionMapper">

    <!-- 거레내역생성  -->
    <insert id="insertTransaction" parameterType="com.hana.onemoim.transaction.dto.MemberTransactionDto">
        INSERT INTO member_transaction
        (account_number, other_account_number, transaction_type_code, transaction_amount, balance_after_transaction, memo)
        values (#{accountNumber}, #{otherAccountNumber}, #{transactionTypeCode}, #{transactionAmount},
                #{balanceAfterTransaction}, #{memo})
    </insert>

</mapper>