
.main-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: 20px;
}

.outer-content-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 1000px;
}

.content-wrapper {
    width: 100%;
    max-width: 1000px;
    border: 1px solid #777777;
    border-radius: 5px;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px; /* 항목 간의 간격 */
}

.page-name {
    font-family: Hana2-Bold, sans-serif;
    font-size: 24px;
}

.chosen-page {
    color: #008375;
    font-size: 16px;
}

.unchosen-page {
    color: #777777;
    font-size: 16px;
}

.content-name{
    font-family: Hana2-Bold, sans-serif;
    font-size: 22px;

    padding-left: 50px;
}

.sub-content-name{
    font-family: Hana2-Bold, sans-serif;
    font-size: 20px;

    padding-left: 50px;
}

.money{
    font-family: Hana2-Bold, sans-serif;
    font-size: 20px;
    color: #008375;

    padding-left: 50px;
}

.dropdown-container {
    width: 100%;
    max-width: 900px;
    height: 30px;
    border: 1px solid #777777;
    border-radius: 5px;
    position: relative;
    margin: 20px auto;
    cursor: pointer;

    font-family: Hana2-Bold, sans-serif;
    font-size: 14px;

    padding-top: 15px;
    padding-left: 7px;
}

.dropdown-title {
    padding: 10px;
    color: rgba(119, 119, 119, 1);
}

.dropdown-arrow {
    width: 15px;
    height: 10px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-size: cover;
}

.dropdown-menu {
    display: none;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    border: 1px solid rgba(119, 119, 119, 1);
    z-index: 10;
}

.dropdown-item {
    background-color: #ffffff;
    padding: 8px 16px;
    border-bottom: 1px solid #777777;
}

.dropdown-item:last-child {
    border-bottom: none;
}

.account-nickname, .account-number {
    display: block;
}

.account-nickname {
    font-family: Hana2-Medium, sans-serif;
    font-size: 14px;
}

.account-number {
    font-family: Hana2-Regular, sans-serif;
    font-size: 12px;
}

.input-container {
    width: 100%;
    max-width: 900px;
    height: 45px;
    border: 1px solid #777777;
    border-radius: 5px;
    position: relative;
    margin: 20px auto;

    font-family: Hana2-Bold, sans-serif;
    font-size: 14px;

    padding-top: 5px;
    padding-left: 7px;
}

.password-input {
    width: 90%;
    border: none;
    font-family: Hana2-Bold, sans-serif;
    font-size: 14px;
    padding: 10px;
    outline: none;
}

.password-input::placeholder {
    color: rgba(119, 119, 119, 0.5);
}

.second-content-wrapper {
    margin-top: 40px;
    width: 100%;
    max-width: 1000px;
    border: 1px solid #777777;
    border-radius: 5px;
}
.input-currency {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #777;
    pointer-events: none;
}

.bank-account-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 910px;
    margin: 20px 45px;
}

.bank-dropdown, .account-input-container {
    flex: 1;
    margin: 0 10px; /* 좌우 간격 */
}

.bank-dropdown{
    height: 35px;
    margin-left: 0;
    margin-right: 20px;
}

.bank-name {
    font-family: Hana2-Medium, sans-serif;
    font-size: 14px;
}

.account-box{
    margin-right: 0;
}