.main-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: 20px;
}

.outer-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 1000px;
}

.page-name {
    font-family: Hana2-Bold, sans-serif;
    font-size: 24px;
}

.dropdown-container {
    width: 100%;
    max-width: 1000px;
    height: 30px;
    border: 1px solid #777777;
    border-radius: 5px;
    position: relative;
    margin-top: 0;
    margin-bottom: 30px;
    cursor: pointer;

    font-family: Hana2-Bold, sans-serif;
    font-size: 14px;

    padding-top: 15px;
    padding-left: 7px;
}

.dropdown-title {
    padding: 10px;
    color: rgba(119, 119, 119, 1);
}

.dropdown-arrow {
    width: 15px;
    height: 10px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-size: cover;
}

.dropdown-menu {
    display: none;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    border: 1px solid rgba(119, 119, 119, 1);
    z-index: 10;
}

.dropdown-item {
    background-color: #ffffff;
    padding: 8px 16px;
    border-bottom: 1px solid #777777;
}

.dropdown-item:last-child {
    border-bottom: none;
}

.account-nickname, .account-number {
    display: block;
}

.account-nickname {
    font-family: Hana2-Medium, sans-serif;
    font-size: 14px;
}

.account-number {
    font-family: Hana2-Regular, sans-serif;
    font-size: 12px;
}

.transaction-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.transaction-table thead {
    background-color: #eeeeee;
}

.transaction-table th {
    text-align: center;
    font-size: 14px;
}

.transaction-table td {
    font-size: 13px;
}

.transaction-table th, .transaction-table td {
    font-family: Hana2-Bold, sans-serif;
    padding: 10px;
    border-top: 1px solid #777777;
}

/* 각 th에 대해 원하는 너비를 지정 */
.transaction-table th:nth-child(1), .transaction-table td:nth-child(1) {
    width: 20%; /* 거래일시 */
    text-align: center;
}

.transaction-table th:nth-child(2), .transaction-table td:nth-child(2) {
    width: 5%; /* 유형 */
    text-align: center;
}

.transaction-table th:nth-child(3), .transaction-table td:nth-child(3) {
    width: 30%; /* 적요 */
    text-align: center;
}

.transaction-table th:nth-child(4), .transaction-table td:nth-child(4) {
    width: 15%; /* 출금액 */
}

.transaction-table td:nth-child(4) {
    text-align: right;
    color: #F13C42;
}


.transaction-table th:nth-child(5), .transaction-table td:nth-child(5) {
    width: 15%; /* 입금액 */
}

.transaction-table td:nth-child(5) {
    text-align: right;
    color: #2472F2;
}

.transaction-table th:nth-child(6), .transaction-table td:nth-child(6) {
    width: 15%; /* 잔액 */
}

.transaction-table td:nth-child(6) {
    text-align: right;
    color: #009591;
}

.transaction-table .left-title {
    padding-left: 20px;
}

.transaction-table .right-title {
    padding-right: 40px;
}

.transaction-table .transaction-item td {
    border-top: none;
    border-bottom: 1px solid #777777;
}

/* 테이블 row에 hover 효과 추가 */
.transaction-table tr:not(:first-child):hover {
    background-color: #f5f5f5;
}
