.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    width: 100%;
    padding-top: 30px;
}

.sub-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 50px;
}

.slider-wrapper {
    position: relative;
    width: 850px;
    height: 350px;

    margin-right: 60px;
}

/* 첫 번째 슬라이드만 초기에 보이게 설정 */
.container:first-child {
    opacity: 1;
}

.container {
    /* 슬라이드 관련 설정 */
    opacity: 0;   /* 기본적으로 투명하게 설정 */
    transition: opacity 0.5s; /* opacity 변화 시 1초 동안 부드럽게 전환 */

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    overflow: hidden;
    border-radius: 10px;
}

#first-container{
    background: linear-gradient(to bottom, rgba(0, 131, 117, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
}

#second-container{
    background: linear-gradient(to bottom, rgba(255, 191, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
    /*background: linear-gradient(to bottom, rgba(255, 247, 236, 0.2) 0%, rgba(255, 247, 236, 0) 100%);*/
}

.right-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.boxes-container {
    display: flex;
    gap: 15px;
    width: 100%;
}

.gathering-container{
    justify-content: center;
    display: flex;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    gap: 80px;
}

.gathering-image{
    width: 45px;
    height: 45px;
}

.container-image {
    width: 500px;
    position: absolute;
    left: 385px;
    top: 1px;
    object-fit: cover;
}

.container-image-2 {
    width: 400px;
    position: absolute;
    left: 435px;
    top: 1px;
    object-fit: cover;
}

.slogan {
    width: 472px;
    position: absolute;
    left: 33px;
    top: 30px;
    font-size: 38px;
    font-family: Hana2-Bold, sans-serif;
    text-align: left;
    color: #000;
}

.hash-tag {
    width: 402px;
    height: 36px;
    position: absolute;
    left: 33px;
    top: 170px;
    font-size: 16px;
    font-family: Hana2-Regular, sans-serif;
    text-align: left;
    color: #777;
}

.create-group-button {
    border: 1px solid #333333;
    background-color: #333333;
    border-radius: 20px;
    top: 250px;
    left: 33px;
    width: 100px;
    height: 40px;
    position: absolute;
    overflow: hidden;
}

.button-text {
    color: #FFFFFF;
    font-size: 14px;
    font-family: Hana2-Medium, sans-serif;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    -webkit-appearance: none; /* 웹킷 기반 브라우저(예: Chrome, Safari)에서 기본 스타일 제거 */
    appearance: none; /* 표준 속성 */

    display: block;
    width: 100%;
    height: 100%;
}

.big-link-button {
    width: 158px;
    height: 120px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

#link-button-group {
    background: #009591;
}

#link-button-openbanking {
    background: #2e354f;
}

.link-button-text {
    font-family: Hana2-Bold, sans-serif;
    font-size: 20px;
    color: #fff;

    position: absolute;
    top: 30px;

    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    -webkit-appearance: none; /* 웹킷 기반 브라우저(예: Chrome, Safari)에서 기본 스타일 제거 */
    appearance: none; /* 표준 속성 */

    display: block;
    width: 100%;
    height: 100%;
}

#link-button-text-group {
    right: 40px;
}

#link-button-text-openbanking {
    right: 20px;
}

.first-gathering-icon,
.second-gathering-icon,
.third-gathering-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon-name{
    font-family: Hana2-Medium, sans-serif;
    font-size: 14px;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    height: 150px;
    position: relative;
    overflow: hidden;
    background: rgba(119, 119, 119, 0.1);
    margin-top: 50px;
    margin-bottom: 50px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

#first-menu {
    margin-left: 200px;
}

#last-menu {
    margin-right: 200px;
}

.menu-title {
    font-family: Hana2-Regular, sans-serif;
    font-size: 20px;
    text-align: center;
    color: #000;
    margin-bottom: -15px;
}

.menu-describe {
    font-family: Hana2-Light, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #000;
}

.search-container {
    width: 100%;
    display: flex;
    align-items: center;
}

.search-form{
    width: 100%;
}

.search-bar {
    border: 1px solid #aaa;
    border-radius: 4px;
    font-size: 14px;
    width: 83%;

    margin-left: 10px;
    padding: 10px 30px 10px 10px;
}

.search-btn {
    position: absolute;
    bottom: 5.5%;
    right: 12px;
    width: 20px; /* 아이콘 크기를 설정 (원하는 크기로 조절) */
    height: 20px;
    background-image: url('/img/search2.png'); /* 이미지 경로를 설정 */
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent; /* 배경색을 투명하게 */
    background-size: contain;
    border: none; /* 테두리 제거 */
    cursor: pointer;
}

.circle-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.group-name {
    text-align: center;
    margin-top: 10px;
}