.main-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: 20px;
}

.outer-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 1000px;
}

.page-name {
    font-family: Hana2-Bold, sans-serif;
    font-size: 24px;
}

.gathering-member-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.gathering-member-table thead {
    background-color: #eeeeee;
}

.gathering-member-table th {
    text-align: center;
    font-size: 14px;
}

.gathering-member-table td {
    font-size: 13px;
}

.gathering-member-table th, .gathering-member-table td {
    font-family: Hana2-Bold, sans-serif;
    padding: 10px;
    border-top: 1px solid #777777;
}

.gathering-member-table th:nth-child(1), .gathering-member-table td:nth-child(1) {
    width: 15%; /* 이름 */
    text-align: center;
}

.gathering-member-table th:nth-child(2), .gathering-member-table td:nth-child(2) {
    width: 15%; /* 상태 */
    text-align: center;
}

.gathering-member-table th:nth-child(3), .gathering-member-table td:nth-child(3) {
    width: 25%; /* 가입시간 */
    text-align: center;
}

.gathering-member-table th:nth-child(4), .gathering-member-table td:nth-child(4) {
    width: 25%; /* 상태변경시간 */
    text-align: center;
}

.gathering-member-table th:nth-child(5), .gathering-member-table td:nth-child(5) {
    width: 20%; /* 작업 */
    text-align: center;
}

.crown-img {
    width: 20px;
    height: 20px;
}

.active-p{
    margin: 0;
    color: #008375;
}

.pause-p{
    margin: 0;
    color: #E4003F;
}

.standby-p{
    margin: 0;
    color: #2E354F;
}

.status-change-button{
    border: none;
    border-radius: 5px;
    background-color: #008375;
    color: white;
    width: 45px;
    height: 25px;
    font-family: Hana2-Bold, sans-serif;
    cursor: pointer;
}
