@font-face {
    font-family: Hana2-Light;
    src: url('../assets/fonts/Hana2-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Hana2-Regular;
    src: url('../assets/fonts/Hana2-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Hana2CM;
    src: url('../assets/fonts/Hana2CM.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Hana2-Medium;
    src: url('../assets/fonts/Hana2-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Hana2-Bold;
    src: url('../assets/fonts/Hana2-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: Hana2-Light, sans-serif;
    font-size: 12px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;

    margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Hana2-Bold, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.link-button {
    text-decoration: none;
    color: inherit;
}

.except-footer {
    flex: 1 0 auto;
}

input[type=checkbox], input[type=radio]  {
    accent-color: #008375;
}