.main-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: 20px;
}

.outer-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 1000px;
}

.page-name {
    display: flex;
    font-family: Hana2-Bold, sans-serif;
    font-size: 24px;
}

.page-name-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 0.5px solid #cccccc;
    margin-bottom: 10px;
}

.page-name-right {
    display: flex;
    gap: 10px;
}

.write-button {
    width: 80px;
    height: 35px;
    border: none;
    background-color: #008375;
    color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    font-family: Hana2-Bold, sans-serif;
    font-size: 16px;
}

.image-container {
    display: flex;
    flex-wrap: wrap; /* 요소들이 넘치면 다음 줄로 이동 */
    gap: 10px; /* 이미지 사이의 간격 */
}

.no-post {
    display: flex;
    height: 200px;
    width: 1000px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.image-wrapper {
    position: relative;
    width: 325px;
    height: 325px;
}

.image-hover-layer {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 검정 반투명 */
    cursor: pointer;
    z-index: 2;
}

.image-wrapper:hover .image-hover-layer {
    display: flex; /* flexbox 사용 */
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: center; /* 가로 중앙 정렬 */
    flex-direction: row; /* 요소들을 수직으로 배열 */
}

.image-item {
    background-color: #cccccc;
    height: 325px;
    width: 325px;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

.hover-view {
    width: 25px;
}

.hover-comment {
    width: 18px;
}

.hover-text {
    font-family: Hana2-Heavy, sans-serif;
    font-size: 15px;
    color: white;
}