.main-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: 20px;
}

.outer-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 1000px;
}

.page-name {
    font-family: Hana2-Bold, sans-serif;
    font-size: 24px;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.create-gathering-button {
    width: 180px;
    height: 45px;
    background-color: #008375;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.button-text {
    color: #fff;
    font-size: 16px;
    font-family: Hana2-Medium, sans-serif;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    appearance: none;
    text-decoration: none;
}

.custom-accordion {
    width: 100%;
    max-width: 1000px;
    margin: 10px auto;
}

.accordion-item {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
}

.accordion-header {
    border-radius: 5px 5px 0 0;
    margin: 0;
}

.accordion-button {
    height: 45px;
    font-family: Hana2-Medium, sans-serif;
    font-size: 14px;
    border-radius: 5px;
    width: 100%;
    text-align: left;
    padding: 10px 15px;
    border: none;
    background-color: #2e374f;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s;
    color: #ffffff;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
}

.account-nickname-text {
    flex: 1; /* 남은 공간을 모두 차지하도록 설정 */
    display: inline-block;
}

.button-img {
    width: 15px;
    height: 10px;
    object-fit: cover;

    margin-right: 10px;
    margin-top: 1px;
}


.accordion-button:hover {
    background-color: #2e354f;
    color: #ffffff;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-collapse {
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    border-top: 1px solid #ccc;
}

.accordion-body {
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    font-family: Hana2-Regular, sans-serif;
    border-radius: 0 0 5px 5px;
    padding: 10px 15px;
    background-color: #fff;

    align-items: center;

}

.accordion-body-center {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.accordion-body-right {
    display: flex;
    justify-content: right;
    margin-left: auto;
    gap: 10px;
    margin-right: 10px;
}

.detail-button {
    background-color: #008375;
    border: none;
    border-radius: 2px;
    margin-top: 7px;
    width: 120px;
    height: 40px;
    overflow: hidden;
}

.button-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: Hana2-Medium, sans-serif;

    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    -webkit-appearance: none; /* 웹킷 기반 브라우저(예: Chrome, Safari)에서 기본 스타일 제거 */
    -moz-appearance: none; /* 파이어폭스에서 기본 스타일 제거 */
    appearance: none; /* 표준 속성 */
    width: 100%;
    height: 100%;
}

.gathering-leader-name-box {
    background-color: #999999;
    border: none;
    border-radius: 5px;
    width: 70px;
    height: 25px;
    overflow: hidden;
}

.gathering-leader-name-content {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
}

.crown-img {
    width: 15px;
    height: 15px;
}

.gathering-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 200px;
}

.gathering-name {
    font-family: Hana2-Bold, sans-serif;
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 5px;
}

.gathering-description {
    font-family: Hana2-Regular, sans-serif;
    font-size: 15px;
    margin: 0;
}

.search-container {
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-form {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative; /* 상대 위치를 추가 */
    width: 300px;
}

.search-icon {
    position: absolute;
    top: 50%; /* 상단 중앙에 위치 */
    right: 20px;
    transform: translateY(-50%); /* Y축 중앙 정렬을 위해 설정 */
    width: 20px; /* 아이콘 크기를 설정 (원하는 크기로 조절) */
    height: 20px;
    background-image: url('/img/search2.png'); /* 이미지 경로를 설정 */
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent; /* 배경색을 투명하게 */
    background-size: contain;
    border: none; /* 테두리 제거 */
    cursor: pointer;
}

.search-bar {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.second-recommend-area {
    display: flex;
    flex-wrap: wrap; /* 아이템들이 여러 줄로 나눠지도록 함 */
    flex-direction: row; /* 아이템들이 가로 방향으로 나열되도록 함 */
    align-items: flex-start;
    width: 100%;
    justify-content: start;
    gap: 30px;
}

.second-recommend-area-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.second-area-item-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.second-area-title {
    font-family: Hana2-Medium, sans-serif;
    font-size: 20px;
    margin: 0;
}

.second-area-link {
    margin-top: 15px;
    margin-right: 50px;
}

.second-area-item {
    margin-top: 10px;
    display: flex;
    width: calc(50% - 15px); /* 아이템 2개가 한 줄에 올 수 있도록 너비 설정. gap의 절반만큼 뺌 */
    height: 100px;
}

/*.second-area-item p {*/
/*    margin: 0 0 5px;*/
/*}*/

.second-area-item-title {
    font-family: Hana2-Medium, sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
}

.second-area-item-description {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 두 줄로 제한 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 450px;

    font-family: Hana2-Regular, sans-serif;
    font-size: 13px;
    margin-bottom: 15px;
}

.second-area-item-img {
    width: 93px;
    height: 93px;
    object-fit: cover;
    border-radius: 200px;
    margin-right: 15px;
}

.button-container {
    width: 50px;
    height: 25px;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid #008375;
    display: flex;
    align-items: center;
    justify-content: center;
}

.area-button-text {
    font-size: 12px;
    border: none;
    background: none;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 0;
    margin-left:3px;
    cursor: pointer;
    -webkit-appearance: none; /* 웹킷 기반 브라우저(예: Chrome, Safari)에서 기본 스타일 제거 */
    appearance: none; /* 표준 속성 */

    display: block;
    width: 100%;
    height: 100%;
    color: #008375;
}