.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    background: #fff;
    border-bottom: 1px solid #008375;
    color: #000;
    position: relative;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 7px;
}

.header img {
    width: 25px;
    height: 28.85px;
    object-fit: cover;
}

p, a {
    font-family: Hana2-Medium, sans-serif;
}

.title {
    font-family: Hana2-Bold, sans-serif;
    font-size: 20px;
}

.menu-text {
    width: 120px;
    height: 36px;
    position: absolute;
    font-size: 16px;
    top: 17px;
}

#menu-view {
    left: 1025px;
}

#menu-transfer {
    left: 1145px;
}

#menu-products {
    left: 1265px;
}

#menu-moim {
    left: 1405px;
}

.logout-text {
    font-family: Hana2CM, sans-serif;
    width: 120px;
    height: 10px;
    position: absolute;
    left: 1315px;
    font-size: 12px;
    bottom: 48px;
    text-align: end;
}

.member-name {
    text-decoration: underline;
    font-family: Hana2CM, sans-serif;
    width: 120px;
    height: 10px;
    position: absolute;
    left: 1265px;
    font-size: 12px;
    bottom: 48px;
    text-align: end;
}
