.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 130px;
    background: #fff;
    border-bottom: 1px solid #008375;
    color: #000;
    position: relative;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px; /* 로고와 텍스트 사이의 간격 */
}

.header img {
    width: 25px;
    height: 28.85px;
    object-fit: cover;
}

p, a {
    font-family: Hana2-Medium, sans-serif;
}

.title {
    font-family: Hana2-Bold, sans-serif;
    font-size: 20px;
}

.menu-text {
    width: 120px;
    height: 36px;
    position: absolute;
    top: 30px;
    font-size: 16px;
}

.menu-view {
    left: 995px;
}

.menu-transfer {
    left: 1115px;
}

.menu-products {
    left: 1235px;
}

.menu-moim {
    left: 1375px;
}

.logout-text {
    font-family: Hana2CM, sans-serif;
    width: 120px;
    height: 36px;
    position: absolute;
    left: 1475px;
    top: 24px;
    font-size: 12px;
}

.member-name{
    text-decoration: underline;
}
